/*Navbar*/
nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

nav label {
    font-size: 2rem;
}

/*botones del navbar*/
.btns-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;


}

.btns-nav a {
    padding: 1em;
    text-align: center;
    border-radius: 10%;
    margin-right: 1em;
}


#freetrial-btn {
    background-color: black;
    color: white;
    border: 2px solid white;
    transition: all 0.5s;
}

#freetrial-btn:hover {
    background-color: white;
    color: black;
    border: 2px solid black;
}

#login-btn {
    background-color: white;
    color: black;
    border: 2px solid black;

    transition: all 0.5s ease;

}

#login-btn:hover {
    background-color: black;
    color: white;
    border: 2px solid white;

}


/*Header*/

header {
    background-color: #cbe8ba;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 4rem;
}

header h1 {
    font-family: sans-serif;
    width: 40%;
    text-align: center;
}

header h7 {
    font-family: Georgia;
    color: grey;
    width: 40%;
    text-align: center;
}

/*Seccion 1*/

.seccion1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem;
    background-color: #f1f6be;
}

.seccion1 button {
    border-left: black;
    text-align: center;
    padding: 1em;
    border-collapse: collapse;
    border-style: none;
}

.btn-bordes {
    border: 1px solid;
    border-radius: 5px;
    border-width: 2px;
    background-color: white;
    overflow: hidden;
}

#btn-annual {
    background-color: white;
    color: black;
    transition: all 0.5s ease;
}

#btn-annual:hover {
    background-color: black;
    color: white;

}

#btn-monthly {
    background-color: black;
    color: white;
    transition: all 0.5s ease;
}

#btn-monthly:hover {
    background-color: white;
    color: black;

}

/* Seccion 2*/
.seccion2 {
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    padding: 4rem;
}

.contenedor-plan {
    border: 1px gray solid;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 25%;
    margin: 2rem;
}

.contenedor-plan h4 {
    font-family: 'Lucida Sans';
    padding: 1rem;
}

.contenedor-plan p {
    width: 50%;
    color: rgb(63, 63, 63);
    padding-bottom: 4rem;
}

.contenedor-plan-secundario {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenedor-plan-secundario-precio {

    font-size: 2em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 1rem;

}

.contenedor-plan-secundario-precio label {
    margin: 4px;
}

#per-month {
    color: gray;
    font-size: medium;
    width: 20%;
}

#btn-started {
    border-style: none;
    background-color: black;
    color: white;
    padding: 1em;
    border-radius: 6px;
    cursor: hand;
}

/*Footer*/
footer {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2rem;
}

footer label {
    font-size: smaller;
    color: gray;
    font-family: Arial;
    padding: 2px;

}